<launch>
  <arg name="enable_vins" default="true" />
  <arg name="enable_loop" default="true" />
  <arg name="enable_bag" default="true" />
  <arg name="config_file" default="$(env HOME)/workspace/exploration_ws/src/VINS-Fusion/config/realsense_d435i_raven/realsense_stereo_imu_config.yaml" />
  <!-- <arg name="config_file" default="$(env HOME)/workspace/exploration_ws/src/VINS-Fusion/config/uav_simulator/uav_simulator.yaml" /> -->

  <group if="$(arg enable_vins)">
    <node pkg="vins" type="vins_node" name="vins_estimator" output="log" args="$(arg config_file)"/>
  </group>

  <group if="$(arg enable_loop)">
    <node pkg="loop_fusion" type="loop_fusion_node" name="loop_fusion" output="screen" args="$(arg config_file)"/>
  </group>

  <group if="$(arg enable_bag)">
    <arg name="bag_file" default="$(env HOME)/bag/fif_2025-08-07-20-14-50.bag" />
    <node pkg="rosbag" type="play" name="player" output="log" args="--clock --delay 1 -s 8 $(arg bag_file)"/>
  </group>
</launch>
