<launch>
  <node name="vins_estimator" pkg="vins" type="vins_cov_node" output="screen" args="/home/eason/workspace/exploration_ws/src/VINS-Fusion/config/realsense_d435i/realsense_stereo_imu_config.yaml" />

  <node pkg="rosbag" type="play" name="player" output="log" args="--clock --delay 1 /home/eason/bag/vins_cov_2025-02-28-16-27-47_aligned.bag"/>
</launch>
