<launch>
  <node name="vins_estimator" pkg="vins" type="vins_node" output="log" args="/home/eason/workspace/exploration_ws/src/VINS-Fusion/config/uav_simulator/uav_simulator.yaml" />

  <node pkg="rosbag" type="play" name="player" output="log" args="--clock --delay 1 /home/eason/bag/vins_debug_2025-03-01-12-04-14_filtered.bag"/>
</launch>
